@use '../../assets/colors/colors.scss' as vars;

.all-login-con{
    width: 100%;
    height: 100vh;
    overflow: hidden !important;
    // background-color: red;
    position: relative;
    .background {
        width: 430px;
        height: 520px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        // background-color: vars.$gray;
    
        .shape {
            height: 200px;
            width: 200px;
            position: absolute;
            border-radius: 50%;
            &:first-child {
                background: linear-gradient(to left, vars.$green, vars.$light-green);
                left: -80px;
                top: -80px;
            }
            &:last-child {
                background: linear-gradient( lightgreen, vars.$light-green);
                right: -30px;
                bottom: -80px;
            }
        }
    }
    
    // تنظیمات فرم
    .form {
        height: 520px;
        width: 400px;
        background-color: rgba(255, 255, 255, 0.13);
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border-radius: 30px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        padding: 50px 35px;
        color: vars.$white;
    
        * {
            // font-family: 'Poppins', sans-serif;
            // color: #ffffff;
            // letter-spacing: 0.5px;
            outline: none;
            border: none;
        }
    
        h3 {
            color: vars.$white;
            font-size: 32px;
            font-weight: 500;
            line-height: 42px;
            text-align: center;
        }
    
        label {
            display: block;
            margin-top: 30px;
            font-size: 16px;
            font-weight: 500;
        }
    
        input {
            display: block;
            height: 50px;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.07);
            border-radius: 999px;
            padding: 0 10px;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 300;
            transition: .5s ease;
            color: vars.$white;
    
            &::placeholder {
                color: #e5e5e534;
            }
            &:focus{
                background-color: vars.$green;
            }
        }
    
        button{
            margin-top: 50px;
            // display: block;
            // text-align: center;
            width: 100%;
            background-color: vars.$black;
            color: vars.$white;
            padding: 15px 0;
            font-size: 18px;
            font-weight: 600;
            border-radius: 9999px;
            cursor: pointer;
            transition: .5s ease;
            &:hover{
                background-color: vars.$white;
                color:  vars.$black;
            }
        }
    }
    
}