@use '../../assets/colors/colors.scss' as vars; 

.footer-con-org{
    // width: 100%;
    img{
        width: 100% !important;
    }
    .footer-con{
        width: 100%;
        // height: 500px !important;
        background-color: #ffffff;

        h1{
            background-color: #ffffff;
        }
        .links{
            width: 100%;
            height: 100% !important;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            a{
                display: block;
                width: 100%;
                height: 100px;
            }
            .lin{
                display: block;
                width: 100%;
                height: 100px;
                padding:0 30px;
                color: vars.$black;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 20px;
                border-radius: 20px;
                margin-bottom: 10px;
                position: relative;
                overflow: hidden;
                &::after{
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    height: 100%;
                    width: 0%;
                    z-index: 0;
                    transition: .5s ease;
                }
                svg{
                    font-size: 70px;
                    width: 30%;
                    z-index: 2;
                    transition: .5s ease;
                }
                span{
                    z-index: 2;
                    color: white;
                    @media (max-width : 1300px) {
                        font-size: 10px;
                    }
                }
                &:hover{
                    svg{
                        filter: drop-shadow(10px 10px 0px black);
                        color: #ffffff;
                    }
                }
            }
            .tel{
                &:hover{
                    &::after{
                        background-color: rgb(71, 105, 205);
                        width: 100%;
                    }
                    
                    
                }
                
            }
            .github{
                &:hover{
                    &::after{
                        background-color: black;
                        width: 100%;
                    }
                    
                }
                
            }
            .whatsapp{
                &:hover{
                    &::after{
                        background-color: rgb(25, 230, 25);
                        width: 100%;
                    }
                    
                }
                
            }
            .linkedin{
                &:hover{
                    &::after{
                        background-color: rgb(71, 71, 244);
                        width: 100%;
                    }
                    
                }
                
            }
        }
        .created{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            img{
                width: 200px !important;
            }
            h1{
                font-size: 60px;
            }
        }
    }

    .copy-right{
        text-align: center;
        color: #ffffff;
        width: 100%;
        height: 20px;
        background-color: vars.$black;
    }
}



